@media(max-width:475px){
    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        /*width: 1120px;*/
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .stats-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    #coin{
        height: 15px;
        width: 15px;
    }
    
    .stats-header{
        font-weight: 700;
        font-size: 25px;
        border-bottom: 1px solid #607D90;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    
    h3, h1{
        margin:0px;
        font-size: 25px;
    }
    
    li{
        margin-bottom: 10px;
    }
    
    .stats-list-title{
        margin-right: 5px;
        font-weight: 700;
        color: #bfc4c8;
        opacity: 70%;
    }
    
    .stats-list{
        padding-left: 10px;
    }
    
    h2{
        margin:0px;
        display: inline-block;
        margin-bottom: 5px;
    }
    
    .champ-portrait{
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-self:center;
    }

    .champ-stats{
        left:150px;
        width: 100%;
        margin: auto;
    }
    
    #champ_name{
        text-align: center;
    }
    
    .champ-img{
        height: 120px;
        width: 120px;
        margin-bottom: 5px;
    }
    .portrait-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .details{
        width: 100%;
    }
    
    .ability{
        margin-bottom:20px;
        display: flex;
        flex-direction: row;
    }
    
    .ability-title{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        position: relative;
    }
    
    .ability-name{
        display: flex;
        flex-direction: column;
    }
    
    .ability-cost{
        position: absolute;
        top:33px;
        right:0px;
    }
    
    .ability-img{
        height: 45px;
        width: 45px;
    }
    
    .ability-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .ability-details{
        margin-left:20px;
        width: 100%;
    }
    
    .ability-name >span{
        font-size: 15px;
    }
    
    .ability-description{
        margin-bottom: 15px;
        line-height: 25px;
    }
    
    .ability-value{
        margin-bottom: 10px;
    }
    
    
    .synergies-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .synergie{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #607D90;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    
    .synergie-img{
        height: 32px;
        width: 32px;
    }
    
    .synergies{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .synergie-details{
        margin-left: 20px;
    }
    
    .synergie-value-numb{
        height: 25px;
        width: 25px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    
    }
    
    .synergie-value{
        display: flex;
        flex-direction: row;
    
    }
    
    .synergie-value-bonus{
        align-self: center;
        width: 100%;
    }
    
    .synergie-title{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .synergie-title > span{
        font-size: 15px;
    }
    
    .synergie-description{
        margin-bottom: 30px;
        line-height: 25px;
        position: relative;
        left:-50px;
        width: 110%;
    }

    .synergie-list{
        position: relative;
        left:-50px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
}

@media(min-width:476px) and (max-width:769px){
    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        /*width: 1120px;*/
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .stats-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 170px;
        width: 400px;
    }
    
    #coin{
        height: 15px;
        width: 15px;
    }
    
    .stats-header{
        font-weight: 700;
        font-size: 25px;
        border-bottom: 1px solid #607D90;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    
    h3, h1{
        margin:0px;
        font-size: 25px;
    }
    
    li{
        margin-bottom: 10px;
    }
    
    .stats-list-title{
        margin-right: 5px;
        font-weight: 700;
        color: #bfc4c8;
        opacity: 70%;
    }
    
    .stats-list{
        padding-left: 10px;
    }
    
    h2{
        margin:0px;
        display: inline-block;
        margin-bottom: 5px;
    }
    
    .champ-portrait{
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-self:center;
    }

    .champ-stats{
        left:150px;
        width: 410px;
        margin: auto;
    }
    
    #champ_name{
        text-align: center;
    }
    
    .champ-img{
        height: 120px;
        width: 120px;
        margin-bottom: 5px;
    }
    .portrait-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .details{
        width: 100%;
    }
    
    .ability{
        margin-bottom:20px;
        display: flex;
        flex-direction: row;
    }
    
    .ability-title{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        position: relative;
    }
    
    .ability-name{
        display: flex;
        flex-direction: column;
    }
    
    .ability-cost{
        position: absolute;
        top:0px;
        right:0px;
    }
    
    .ability-img{
        height: 45px;
        width: 45px;
    }
    
    .ability-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .ability-details{
        margin-left:20px;
        width: 100%;
    }
    
    .ability-name >span{
        font-size: 15px;
    }
    
    .ability-description{
        margin-bottom: 15px;
        line-height: 25px;
    }
    
    .ability-value{
        margin-bottom: 10px;
    }
    
    
    .synergies-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .synergie{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #607D90;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    
    .synergie-img{
        height: 32px;
        width: 32px;
    }
    
    .synergies{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .synergie-details{
        margin-left: 20px;
    }
    
    .synergie-value-numb{
        height: 25px;
        width: 25px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    
    }
    
    .synergie-value{
        display: flex;
        flex-direction: row;
    
    }
    
    .synergie-value-bonus{
        align-self: center;
        width: 100%;
    }
    
    .synergie-title{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .synergie-title > span{
        font-size: 15px;
    }
    
    .synergie-description{
        margin-bottom: 30px;
        line-height: 25px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
}


@media (min-width:770px) and (max-width:1119px){
    main{
        display: flex;
        flex-direction: column;
        width: 85%;
        /*width: 1120px;*/
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .stats-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 170px;
        width: 400px;
    }
    
    #coin{
        height: 15px;
        width: 15px;
    }
    
    .stats-header{
        font-weight: 700;
        font-size: 25px;
        border-bottom: 1px solid #607D90;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    
    h3, h1{
        margin:0px;
        font-size: 25px;
    }
    
    li{
        margin-bottom: 10px;
    }
    
    .stats-list-title{
        margin-right: 5px;
        font-weight: 700;
        color: #bfc4c8;
        opacity: 70%;
    }
    
    .stats-list{
        padding-left: 10px;
    }
    
    h2{
        margin:0px;
        display: inline-block;
        margin-bottom: 5px;
    }
    
    .champ-portrait{
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-right: 110px;
        align-self:center;
    }

    .champ-stats{
        left:150px;
    }
    
    #champ_name{
        text-align: center;
    }
    
    .champ-img{
        height: 120px;
        width: 120px;
        margin-bottom: 5px;
    }
    .portrait-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .details{
        width: 100%;
    }
    
    .ability{
        margin-bottom:20px;
        display: flex;
        flex-direction: row;
    }
    
    .ability-title{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        position: relative;
    }
    
    .ability-name{
        display: flex;
        flex-direction: column;
    }
    
    .ability-cost{
        position: absolute;
        top:0px;
        right:0px;
    }
    
    .ability-img{
        height: 45px;
        width: 45px;
    }
    
    .ability-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .ability-details{
        margin-left:20px;
        width: 100%;
    }
    
    .ability-name >span{
        font-size: 15px;
    }
    
    .ability-description{
        margin-bottom: 15px;
        line-height: 25px;
    }
    
    .ability-value{
        margin-bottom: 10px;
    }
    
    
    .synergies-header{
        padding-bottom:5px;
        border-bottom:1px solid #607D90;
        margin-bottom: 20px;
    }
    
    .synergie{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #607D90;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    
    .synergie-img{
        height: 32px;
        width: 32px;
    }
    
    .synergies{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .synergie-details{
        margin-left: 20px;
    }
    
    .synergie-value-numb{
        height: 25px;
        width: 25px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    
    }
    
    .synergie-value{
        display: flex;
        flex-direction: row;
    
    }
    
    .synergie-value-bonus{
        align-self: center;
        width: 100%;
    }
    
    .synergie-title{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .synergie-title > span{
        font-size: 15px;
    }
    
    .synergie-description{
        margin-bottom: 30px;
        line-height: 25px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
}

@media (min-width:1120px){
main{
    display: flex;
    flex-direction: row;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

aside{
    padding: 5px 30px 5px 0px;
    width: 300px;
    border-right: 1px solid #607D90;
    margin-bottom: 50px; 
}

#coin{
    height: 15px;
    width: 15px;
}

.stats-header{
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #607D90;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

h3, h1{
    margin:0px;
    font-size: 25px;
}

li{
    margin-bottom: 10px;
}

.stats-list-title{
    margin-right: 5px;
    font-weight: 700;
    color: #bfc4c8;
    opacity: 70%;
}

.stats-list{
    padding-left: 10px;
}

h2{
    margin:0px;
    display: inline-block;
    margin-bottom: 5px;
}

.champ-portrait{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#champ_name{
    text-align: center;
}

.champ-img{
    height: 120px;
    width: 120px;
    margin-bottom: 5px;
}
.portrait-wrapper{
    display: flex;
    justify-content: center;
}

.details{
    margin:0px 20px 0px 35px;
    width: 820px;
}

.ability{
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
}

.ability-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
}

.ability-name{
    display: flex;
    flex-direction: column;
}

.ability-cost{
    position: absolute;
    top:0px;
    right:0px;
}

.ability-img{
    height: 45px;
    width: 45px;
}

.ability-header{
    padding-bottom:5px;
    border-bottom:1px solid #607D90;
    margin-bottom: 20px;
}

.ability-details{
    margin-left:20px;
    width: 100%;
}

.ability-name >span{
    font-size: 15px;
}

.ability-description{
    margin-bottom: 15px;
    line-height: 25px;
}

.ability-value{
    margin-bottom: 10px;
}


.synergies-header{
    padding-bottom:5px;
    border-bottom:1px solid #607D90;
    margin-bottom: 20px;
}

.synergie{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #607D90;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.synergie-img{
    height: 32px;
    width: 32px;
}

.synergies{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.synergie-details{
    margin-left: 20px;
}

.synergie-value-numb{
    height: 25px;
    width: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.synergie-value{
    display: flex;
    flex-direction: row;

}

.synergie-value-bonus{
    align-self: center;
    width: 100%;
}

.synergie-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.synergie-title > span{
    font-size: 15px;
}

.synergie-description{
    margin-bottom: 30px;
    line-height: 25px;
}

#first-bonus{
    background-image: url("../images/general/first-bonus.svg");
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}
#second-bonus{
    background-image: url("../images/general/second-bonus.svg");
    background-size: 25px 25px;
}

#third-bonus{
    background-image: url("../images/general/third-bonus.svg");
    background-size: 25px 25px;
}


}