@media (max-width: 458px) {
    main{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size:14px;
    }
    
    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        min-width: 195px;
        max-width: 220px;
        border-right: 1px solid #607D90;
        margin-bottom: 50px;
        box-sizing: border-box;
        display: none;
    }
    
    .filter{
        display: flex;
        flex-direction: column;
        margin:0px;
    }
    
    .filter-title{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;
    }
    
    
    
    .filter-content{
        display: flex;
        flex-direction: column;
    }
    
    .filter-items{
        flex-direction: column;
        padding-left:20px;
        padding-right: 5px;
        display:none;
        transition: .3s;
    }
    
    .filter-items-dp{
        display:flex;
        transition: .3s;
    }
    
    .filter-item{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
    }
    
    .filter-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        border-bottom: 1px solid #607D90;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;
        align-items: center;
    }
    
    .active{
        color: #dedede !important;
        opacity: 100% !important;
        transition: .3s;
    }
    
    
    
    .reset-button {
        border:1px solid #607D90;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color:#bfc4c8;
        height: 30px;
        padding: 8px;
        position: absolute;
        right: 0px;
        bottom:10px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        transition: .3s;
    }
    
    .reset-button:hover{
        border:1px solid #d47559;
    }
    
    h2{
        margin:0px;
    }
    
    .chevron{
        height: 20px;
        position: absolute;
        right: 0px;
        transform: rotate(180deg);
        transition: .3s;
    }
    
    .chevron-open{
        transform: rotate(0deg) !important;
        transition: .3s;
    }
    
    .circle{
        height: 10px;
        width: 10px;
        border: 2px solid #227aad;
        border-radius: 100%;
        right:0px;
        position: absolute;
        transition: .3s;
        align-self: center;
    }
    
    .circle-active{
        background-color: #227aad;
        transition: .3s;
    }
    
    .filter-span{
        color:#bfc4c8;
        opacity: 60%;
        margin-left: 5px;
        align-self: center;
    }
    
    .content{
        width: 100%;
        min-width:345px;
        display: flex;
        flex-direction: column;
        margin-left:0px;
    }
    
    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
    }
    
    .search-bar{
        background-color: #181f31;
        font-family: 'Roboto', sans-serif;
        border: none;
        outline: none;
        color: white;
        padding: 5px;
        width: 220px;
    }
    
    .content-header{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
    }
    
    .content-header-title{
        width: 640px;
        margin-bottom: 10px;
    }
    
    .search-bar-wrapper{
        border:1px solid #607D90;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;

        padding:3px;
        transition: .3s;
    }
    
    .focused{
        border:1px solid #d47559;
    
    }
    
    .display-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    .display-filter-wrapper{
        display: flex;
        flex-direction: row;
        width: 150px;
        background-color: #d47559;
        margin-right: 10px;
        color:white;
        padding:8px 5px 8px 8px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
    
    
    .display-filter-value{
        width: 180px;
    }
    
    .display-filter-close{
        width: 13px;
        height: 13px;
        padding-right: 5px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0,-50%);
    }
    
    .content-list-wrapper{
        color: white;
    }
    
    .content-header-wrapper{
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .champ-wrapper{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
    }
    
    .content-list-titles{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .list-title{
        width:100%;
        max-width: 240px;
        min-width: 80px;
        padding:7px 0px 7px 7px;
        position: relative;
    }

    .name, .origin, .tfclass{
        width:100%;
        max-width: 240px;
        min-width: 80px;
        padding:14px 0px 14px 7px;
        position: relative;
    }
    
    #champ-cost{
        width: 20%;
        max-width: 150px;
        min-width: 45px;
        padding:7px 0px 7px 7px;
        position: relative;
    }

    .cost-sub{
        width: 20%;
        max-width: 150px;
        min-width: 45px;
        padding:14px 0px 14px 7px;
        position: relative;
    }
    
    .coin{
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    
    .champ-img{
        height: 50px;
        width: 50px;
        display: none;
    }
    
    .name ,.cost-sub, .origin-sub, .tfclass-sub{
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .tfclass, .origin{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .champ-wrapper-span{
        margin-left: 0px;
        
    }
    
    .champ-details-page{
        text-decoration: none;
        color:#59a7e3;
        display: flex;
        align-items: center;
    }
    
    .content-list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .champ-origin-img, .champ-tfclass-img,.filter-synergie-img{
        height: 25px;
        width: 25px;
        display: none;
    }
    
    .search-bar-dn{
        display: none;
    }
    
    .filter-dn{
        display: none;
    }
    
    .sort-img-down, .sort-img-up{
        width: 10px;
        height: 10px;
        position: absolute;
        top:50%;
        transform: translate(0,-50%);
        right: 3px;
        display: none;
    }
    
    
    .active-sort{
        background-color: #d47559 ;
    }
    
    .active-sort-img{
        display: inline-block;
    }
    
    .syn-det-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #181f31;
        border: 1px solid #607D90;
        z-index: 20;
        top:40px;
        left: -40px;
    }
    
    .syn-det-title{
        height: 30px;
        border-bottom: 1px solid #607D90;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    .syn-det-title-img{
        height: 25px;
        width: 25px;
        justify-self: center;
        margin-right: 5px;
    }
    
    .syn-det-desc-wrapper{
        height: min-content;
        padding: 10px;
        font-weight: 300;
        border-bottom: 1px solid #607D90;
    }
    
    .syn-det-desc-title{
        margin-bottom: 10px;
        display: inline-block;
        
    }
    
    div.syn-det-title > span{
        font-weight: 300;
    }
    
    .syn-det-bonus{
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .syn-det-bonus-number{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right:10px;
     
    }

    .syn-det-bonus-val{
        width: 345px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
    .similar-champ{
        height: 25px;
        width: 25px;
        margin-right: 5px;
        border: 1px solid #607D90;
    }
    
    .similar-champs-wrapper{
        height: min-content;
        display: flex;
        flex-direction: column;
        padding:7px 0px 7px 10px;
    }
    
    
    .similar-champs-img{
        margin-top: 7px;
    }
    
    div.similar-champs-wrapper>span{
        opacity: 80%;
        font-weight: 300;
    }

}

@media (max-width: 675px) and (min-width:459px) {
    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size:14px;
    }
    
    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        min-width: 195px;
        max-width: 220px;
        border-right: 1px solid #607D90;
        margin-bottom: 50px;
        box-sizing: border-box;
        display: none;
    }
    
    .filter{
        display: flex;
        flex-direction: column;
        margin:0px;
    }
    
    .filter-title{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;
    }
    
    
    
    .filter-content{
        display: flex;
        flex-direction: column;
    }
    
    .filter-items{
        flex-direction: column;
        padding-left:20px;
        padding-right: 5px;
        display:none;
        transition: .3s;
    }
    
    .filter-items-dp{
        display:flex;
        transition: .3s;
    }
    
    .filter-item{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
    }
    
    .filter-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        border-bottom: 1px solid #607D90;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;
        align-items: center;
    }
    
    .active{
        color: #dedede !important;
        opacity: 100% !important;
        transition: .3s;
    }
    
    
    
    .reset-button {
        border:1px solid #607D90;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color:#bfc4c8;
        height: 30px;
        padding: 8px;
        position: absolute;
        right: 0px;
        bottom:10px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        transition: .3s;
    }
    
    .reset-button:hover{
        border:1px solid #d47559;
    }
    
    h2{
        margin:0px;
    }
    
    .chevron{
        height: 20px;
        position: absolute;
        right: 0px;
        transform: rotate(180deg);
        transition: .3s;
    }
    
    .chevron-open{
        transform: rotate(0deg) !important;
        transition: .3s;
    }
    
    .circle{
        height: 10px;
        width: 10px;
        border: 2px solid #227aad;
        border-radius: 100%;
        right:0px;
        position: absolute;
        transition: .3s;
        align-self: center;
    }
    
    .circle-active{
        background-color: #227aad;
        transition: .3s;
    }
    
    .filter-span{
        color:#bfc4c8;
        opacity: 60%;
        margin-left: 5px;
        align-self: center;
    }
    
    .content{
        width: 100%;
        min-width:420px;
        display: flex;
        flex-direction: column;
        margin-left:0px;
    }
    
    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
    }
    
    .search-bar{
        background-color: #181f31;
        font-family: 'Roboto', sans-serif;
        border: none;
        outline: none;
        color: white;
        padding: 5px;
        width: 220px;
    }
    
    .content-header{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
    }
    
    .content-header-title{
        width: 640px;
        margin-bottom: 10px;
    }
    
    .search-bar-wrapper{
        border:1px solid #607D90;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;

        padding:3px;
        transition: .3s;
    }
    
    .focused{
        border:1px solid #d47559;
    
    }
    
    .display-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    .display-filter-wrapper{
        display: flex;
        flex-direction: row;
        width: 150px;
        background-color: #d47559;
        margin-right: 10px;
        color:white;
        padding:8px 5px 8px 8px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
    
    
    .display-filter-value{
        width: 180px;
    }
    
    .display-filter-close{
        width: 13px;
        height: 13px;
        padding-right: 5px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0,-50%);
    }
    
    .content-list-wrapper{
        color: white;
    }
    
    .content-header-wrapper{
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .champ-wrapper{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
    }
    
    .content-list-titles{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .list-title{
        width:100%;
        max-width: 240px;
        min-width: 110px;
        padding:7px 0px 7px 7px;
        position: relative;
    }

    .name, .origin, .tfclass{
        width:100%;
        max-width: 240px;
        min-width: 110px;
        padding:14px 0px 14px 7px;
        position: relative;
    }
    
    #champ-cost{
        width: 20%;
        max-width: 150px;
        min-width: 60px;
        padding:7px 0px 7px 12px;
        position: relative;
    }

    .cost-sub{
        width: 20%;
        max-width: 150px;
        min-width: 60px;
        padding:14px 0px 14px 12px;
        position: relative;
    }
    
    .coin{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    
    .champ-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        margin-right:10px;
    }
    
    .name ,.cost-sub, .origin-sub, .tfclass-sub{
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .tfclass, .origin{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .champ-wrapper-span{
        margin-left: 5px;
        
    }
    
    .champ-details-page{
        text-decoration: none;
        color:#59a7e3;
        display: flex;
        align-items: center;
    }
    
    .content-list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .champ-origin-img, .champ-tfclass-img,.filter-synergie-img{
        height: 25px;
        width: 25px;
        /*display: none;*/
    }
    
    .search-bar-dn{
        display: none;
    }
    
    .filter-dn{
        display: none;
    }
    
    .sort-img-down, .sort-img-up{
        width: 15px;
        height: 15px;
        position: absolute;
        top:50%;
        transform: translate(0,-50%);
        right: 10px;
        display: none;
    }
    
    
    .active-sort{
        background-color: #d47559 ;
    }
    
    .active-sort-img{
        display: inline-block;
    }
    
    .syn-det-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #181f31;
        border: 1px solid #607D90;
        z-index: 20;
        top:40px;
        left: -40px;
    }
    
    .syn-det-title{
        height: 30px;
        border-bottom: 1px solid #607D90;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    .syn-det-title-img{
        height: 25px;
        width: 25px;
        justify-self: center;
        margin-right: 5px;
    }
    
    .syn-det-desc-wrapper{
        height: min-content;
        padding: 10px;
        font-weight: 300;
        border-bottom: 1px solid #607D90;
    }
    
    .syn-det-desc-title{
        margin-bottom: 10px;
        display: inline-block;
        
    }
    
    div.syn-det-title > span{
        font-weight: 300;
    }
    
    .syn-det-bonus{
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .syn-det-bonus-number{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right:10px;
     
    }

    .syn-det-bonus-val{
        width: 345px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
    .similar-champ{
        height: 25px;
        width: 25px;
        margin-right: 5px;
        border: 1px solid #607D90;
    }
    
    .similar-champs-wrapper{
        height: min-content;
        display: flex;
        flex-direction: column;
        padding:7px 0px 7px 10px;
    }
    
    
    .similar-champs-img{
        margin-top: 7px;
    }
    
    div.similar-champs-wrapper>span{
        opacity: 80%;
        font-weight: 300;
    }

}


@media  (min-width: 676px) and ( max-width: 938px) {
    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        min-width: 195px;
        max-width: 220px;
        border-right: 1px solid #607D90;
        margin-bottom: 50px;
        box-sizing: border-box;
        display: none;
    }
    
    .filter{
        display: flex;
        flex-direction: column;
        margin:0px;
    }
    
    .filter-title{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;
    }
    
    
    
    .filter-content{
        display: flex;
        flex-direction: column;
    }
    
    .filter-items{
        flex-direction: column;
        padding-left:20px;
        padding-right: 5px;
        display:none;
        transition: .3s;
    }
    
    .filter-items-dp{
        display:flex;
        transition: .3s;
    }
    
    .filter-item{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
    }
    
    .filter-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        border-bottom: 1px solid #607D90;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;
        align-items: center;
    }
    
    .active{
        color: #dedede !important;
        opacity: 100% !important;
        transition: .3s;
    }
    
    
    
    .reset-button {
        border:1px solid #607D90;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color:#bfc4c8;
        height: 30px;
        padding: 8px;
        position: absolute;
        right: 0px;
        bottom:10px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        transition: .3s;
    }
    
    .reset-button:hover{
        border:1px solid #d47559;
    }
    
    h2{
        margin:0px;
    }
    
    .chevron{
        height: 20px;
        position: absolute;
        right: 0px;
        transform: rotate(180deg);
        transition: .3s;
    }
    
    .chevron-open{
        transform: rotate(0deg) !important;
        transition: .3s;
    }
    
    .circle{
        height: 10px;
        width: 10px;
        border: 2px solid #227aad;
        border-radius: 100%;
        right:0px;
        position: absolute;
        transition: .3s;
        align-self: center;
    }
    
    .circle-active{
        background-color: #227aad;
        transition: .3s;
    }
    
    .filter-span{
        color:#bfc4c8;
        opacity: 60%;
        margin-left: 5px;
        align-self: center;
    }
    
    .content{
        width: 100%;
        min-width:625px;     
        display: flex;
        flex-direction: column;
        margin-left:0px;
    }
    
    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
    }
    
    .search-bar{
        background-color: #181f31;
        font-family: 'Roboto', sans-serif;
        border: none;
        outline: none;
        color: white;
        padding: 5px;
        width: 220px;
    }
    
    .content-header{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
    }
    
    .content-header-title{
        width: 640px;
    }
    
    .search-bar-wrapper{
        border:1px solid #607D90;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        top:0px;
        right:0px;
        padding:3px;
        transition: .3s;
    }
    
    .focused{
        border:1px solid #d47559;
    
    }
    
    .display-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    .display-filter-wrapper{
        display: flex;
        flex-direction: row;
        width: 150px;
        background-color: #d47559;
        margin-right: 10px;
        color:white;
        padding:8px 5px 8px 8px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
    
    
    .display-filter-value{
        width: 180px;
    }
    
    .display-filter-close{
        width: 13px;
        height: 13px;
        padding-right: 5px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0,-50%);
    }
    
    .content-list-wrapper{
        color: white;
    }
    
    .content-header-wrapper{
        margin-bottom: 15px;
    }
    
    .champ-wrapper{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
    }
    
    .content-list-titles{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .list-title{
        width:100%;
        max-width: 240px;
        min-width: 150px;
        padding:7px 0px 7px 19px;
        position: relative;
    }

    .name, .origin, .tfclass{
        width:100%;
        max-width: 240px;
        min-width: 150px;
        padding:14px 0px 14px 19px;
        position: relative;
    }
    
    #champ-cost{
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        padding:7px 0px 7px 19px;
        position: relative;
    }

    .cost-sub{
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        padding:14px 0px 14px 19px;
        position: relative;
    }
    
    .coin{
        height: 20px;
        width: 20px;
    }
    
    .champ-img{
        height: 50px;
        width: 50px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        margin-right:10px;
    }
    
    .name ,.cost-sub, .origin-sub, .tfclass-sub{
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .tfclass, .origin{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .champ-wrapper-span{
        margin-left: 8px;
        
    }
    
    .champ-details-page{
        text-decoration: none;
        color:#59a7e3;
        display: flex;
        align-items: center;
    }

    
    .content-list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .champ-origin-img, .champ-tfclass-img,.filter-synergie-img{
        height: 25px;
        width: 25px;
    }
    
    .search-bar-dn{
        display: none;
    }
    
    .filter-dn{
        display: none;
    }
    
    .sort-img-down, .sort-img-up{
        width: 20px;
        height: 20px;
        position: absolute;
        top:50%;
        transform: translate(0,-50%);
        right: 10px;
        display: none;
    }
    
    
    .active-sort{
        background-color: #d47559 ;
    }
    
    .active-sort-img{
        display: inline-block;
    }
    
    .syn-det-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #181f31;
        border: 1px solid #607D90;
        z-index: 20;
        top:40px;
        left: -40px;
    }
    
    .syn-det-title{
        height: 30px;
        border-bottom: 1px solid #607D90;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    .syn-det-title-img{
        height: 25px;
        width: 25px;
        justify-self: center;
        margin-right: 5px;
    }
    
    .syn-det-desc-wrapper{
        height: min-content;
        padding: 10px;
        font-weight: 300;
        border-bottom: 1px solid #607D90;
    }
    
    .syn-det-desc-title{
        margin-bottom: 10px;
        display: inline-block;
        
    }
    
    div.syn-det-title > span{
        font-weight: 300;
    }
    
    .syn-det-bonus{
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .syn-det-bonus-number{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right:10px;
     
    }

    .syn-det-bonus-val{
        width: 345px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
    .similar-champ{
        height: 25px;
        width: 25px;
        margin-right: 5px;
        border: 1px solid #607D90;
    }
    
    .similar-champs-wrapper{
        height: min-content;
        display: flex;
        flex-direction: column;
        padding:7px 0px 7px 10px;
    }
    
    
    .similar-champs-img{
        margin-top: 7px;
    }
    
    div.similar-champs-wrapper>span{
        opacity: 80%;
        font-weight: 300;
    }




}

@media (min-width: 939px) and (max-width:1167px){

    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        min-width: 195px;
        max-width: 220px;
        border-right: 1px solid #607D90;
        margin-bottom: 50px;
        box-sizing: border-box;
    }
    
    .filter{
        display: flex;
        flex-direction: column;
        margin:0px;
    }
    
    .filter-title{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;
    }
    
    
    
    .filter-content{
        display: flex;
        flex-direction: column;
    }
    
    .filter-items{
        flex-direction: column;
        padding-left:20px;
        padding-right: 5px;
        display:none;
        transition: .3s;
    }
    
    .filter-items-dp{
        display:flex;
        transition: .3s;
    }
    
    .filter-item{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
    }
    
    .filter-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        border-bottom: 1px solid #607D90;
        margin-bottom: 20px;
        padding-bottom: 10px;
        position: relative;
        align-items: center;
    }
    
    .active{
        color: #dedede !important;
        opacity: 100% !important;
        transition: .3s;
    }
    
    
    
    .reset-button {
        border:1px solid #607D90;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color:#bfc4c8;
        height: 30px;
        padding: 8px;
        position: absolute;
        right: 0px;
        bottom:10px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        transition: .3s;
    }
    
    .reset-button:hover{
        border:1px solid #d47559;
    }
    
    h2{
        margin:0px;
    }
    
    .chevron{
        height: 20px;
        position: absolute;
        right: 0px;
        transform: rotate(180deg);
        transition: .3s;
    }
    
    .chevron-open{
        transform: rotate(0deg) !important;
        transition: .3s;
    }
    
    .circle{
        height: 10px;
        width: 10px;
        border: 2px solid #227aad;
        border-radius: 100%;
        right:0px;
        position: absolute;
        transition: .3s;
        align-self: center;
    }
    
    .circle-active{
        background-color: #227aad;
        transition: .3s;
    }
    
    .filter-span{
        color:#bfc4c8;
        opacity: 60%;
        margin-left: 5px;
        align-self: center;
    }
    
    .content{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        margin-left:40px
    
    }
    
    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
    }
    
    .search-bar{
        background-color: #181f31;
        font-family: 'Roboto', sans-serif;
        border: none;
        outline: none;
        color: white;
        padding: 5px;
        width: 220px;
    }
    
    .content-header{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
    }
    
    .content-header-title{
        width: 640px;
    }
    
    .search-bar-wrapper{
        border:1px solid #607D90;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        top:0px;
        right:0px;
        padding:3px;
        transition: .3s;
    }
    
    .focused{
        border:1px solid #d47559;
    
    }
    
    .display-filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    .display-filter-wrapper{
        display: flex;
        flex-direction: row;
        width: 150px;
        background-color: #d47559;
        margin-right: 10px;
        color:white;
        padding:8px 5px 8px 8px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
    
    
    .display-filter-value{
        width: 180px;
    }
    
    .display-filter-close{
        width: 13px;
        height: 13px;
        padding-right: 5px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0,-50%);
    }
    
    .content-list-wrapper{
        color: white;
    }
    
    .content-header-wrapper{
        margin-bottom: 15px;
    }
    
    .champ-wrapper{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
    }
    
    .content-list-titles{
        background-color: #283351;
        border:1px solid #607D90;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .list-title{
        width:100%;
        max-width: 240px;
        min-width: 150px;
        padding:7px 0px 7px 19px;
        position: relative;
    }

    .name, .origin, .tfclass{
        width:100%;
        max-width: 240px;
        min-width: 150px;
        padding:14px 0px 14px 19px;
        position: relative;
    }
    
    #champ-cost{
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        padding:7px 0px 7px 19px;
        position: relative;
    }

    .cost-sub{
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        padding:14px 0px 14px 19px;
        position: relative;
    }
    
    .coin{
        height: 20px;
        width: 20px;
    }
    
    .champ-img{
        height: 50px;
        width: 50px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        margin-right:10px;
    }
    
    .name ,.cost-sub, .origin-sub, .tfclass-sub{
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .tfclass, .origin{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .champ-wrapper-span{
        margin-left: 8px;
        
    }
    

    .champ-details-page{
        text-decoration: none;
        color:#59a7e3;
        display: flex;
        align-items: center;
    }
    
    .content-list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .champ-origin-img, .champ-tfclass-img,.filter-synergie-img{
        height: 25px;
        width: 25px;
    }
    
    .search-bar-dn{
        display: none;
    }
    
    .filter-dn{
        display: none;
    }
    
    .sort-img-down, .sort-img-up{
        width: 20px;
        height: 20px;
        position: absolute;
        top:50%;
        transform: translate(0,-50%);
        right: 10px;
        display: none;
    }
    
    
    .active-sort{
        background-color: #d47559 ;
    }
    
    .active-sort-img{
        display: inline-block;
    }
    
    .syn-det-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #181f31;
        border: 1px solid #607D90;
        z-index: 20;
        top:40px;
        left: -40px;
    }
    
    .syn-det-title{
        height: 30px;
        border-bottom: 1px solid #607D90;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    .syn-det-title-img{
        height: 25px;
        width: 25px;
        justify-self: center;
        margin-right: 5px;
    }
    
    .syn-det-desc-wrapper{
        height: min-content;
        padding: 10px;
        font-weight: 300;
        border-bottom: 1px solid #607D90;
    }
    
    .syn-det-desc-title{
        margin-bottom: 10px;
        display: inline-block;
        
    }
    
    div.syn-det-title > span{
        font-weight: 300;
    }
    
    .syn-det-bonus{
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .syn-det-bonus-number{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right:10px;
     
    }

    .syn-det-bonus-val{
        width: 345px;
    }
    
    #first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 25px 25px;
    }
    #second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 25px 25px;
    }
    
    #third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 25px 25px;
    }
    
    .similar-champ{
        height: 25px;
        width: 25px;
        margin-right: 5px;
        border: 1px solid #607D90;
    }
    
    .similar-champs-wrapper{
        height: min-content;
        display: flex;
        flex-direction: column;
        padding:7px 0px 7px 10px;
    }
    
    
    .similar-champs-img{
        margin-top: 7px;
    }
    
    div.similar-champs-wrapper>span{
        opacity: 80%;
        font-weight: 300;
    }

}


@media (min-width: 1168px) {

main{
    display: flex;
    flex-direction: row;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

aside{
    padding: 5px 30px 5px 0px;
    width: 220px;
    border-right: 1px solid #607D90;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.filter{
    display: flex;
    flex-direction: column;
    margin:0px;
}

.filter-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.filter-content{
    display: flex;
    flex-direction: column;
}

.filter-items{
    flex-direction: column;
    padding-left:20px;
    padding-right: 5px;
    display:none;
    transition: .3s;
}

.filter-items-dp{
    display:flex;
    transition: .3s;
}

.filter-item{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 700;
}

.filter-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    border-bottom: 1px solid #607D90;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    align-items: center;
}

.active{
    color: #dedede !important;
    opacity: 100% !important;
    transition: .3s;
}



.reset-button {
    border:1px solid #607D90;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#bfc4c8;
    height: 30px;
    padding: 8px;
    position: absolute;
    right: 0px;
    bottom:10px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
}

.reset-button:hover{
    border:1px solid #d47559;
}

h2{
    margin:0px;
}

.chevron{
    height: 20px;
    position: absolute;
    right: 0px;
    transform: rotate(180deg);
    transition: .3s;
}

.chevron-open{
    transform: rotate(0deg) !important;
    transition: .3s;
}

.circle{
    height: 10px;
    width: 10px;
    border: 2px solid #227aad;
    border-radius: 100%;
    right:0px;
    position: absolute;
    transition: .3s;
    align-self: center;
}

.circle-active{
    background-color: #227aad;
    transition: .3s;
}

.filter-span{
    color:#bfc4c8;
    opacity: 60%;
    margin-left: 5px;
    align-self: center;
}

.content{
    width: 870px;
    display: flex;
    flex-direction: column;
    margin-left:40px

}

.search-bar-icon{
    height: 20px;
    width: 20px;
    padding: 0px 5px 0px 5px;
    
}

.search-bar{
    background-color: #181f31;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    width: 220px;
}

.content-header{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.content-header-title{
    width: 640px;
}

.search-bar-wrapper{
    border:1px solid #607D90;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    right:0px;
    padding:3px;
    transition: .3s;
}

.focused{
    border:1px solid #d47559;

}

.display-filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.display-filter-wrapper{
    display: flex;
    flex-direction: row;
    width: 150px;
    background-color: #d47559;
    margin-right: 10px;
    color:white;
    padding:8px 5px 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}


.display-filter-value{
    width: 180px;
}

.display-filter-close{
    width: 13px;
    height: 13px;
    padding-right: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}

.content-list-wrapper{
    color: white;
}

.content-header-wrapper{
    margin-bottom: 15px;
}

.champ-wrapper{
    background-color: #283351;
    border:1px solid #607D90;
    display: flex;
    flex-direction: row;
}

.content-list-titles{
    background-color: #283351;
    border:1px solid #607D90;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list-title{
    width: 240px;
    padding:7px 0px 7px 19px;
    position: relative;
}

.name, .origin, .tfclass{
    width: 240px;
    padding:14px 0px 14px 19px;
    position: relative;
}

#champ-cost{
    width: 150px;
    padding:7px 0px 7px 19px;
    position: relative;
}

.cost-sub{
    width: 150px;
    padding:14px 0px 14px 19px;
    position: relative;
}

.coin{
    height: 20px;
    width: 20px;
}

.champ-img{
    height: 50px;
    width: 50px;
    border: 1px solid #1b2d33;
    box-sizing: border-box;
    margin-right:10px;
}

.name ,.cost-sub, .origin-sub, .tfclass-sub{
    display: flex;
    align-items: center;
    position: relative;
}

.tfclass, .origin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.champ-wrapper-span{
    color:#59a7e3;
}

.champ-wrapper-span{
    margin-left: 8px;   
}

.champ-details-page{
    text-decoration: none;
    color:#59a7e3;
    display: flex;
    align-items: center;
}

.content-list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.champ-origin-img, .champ-tfclass-img,.filter-synergie-img{
    height: 25px;
    width: 25px;
}

.search-bar-dn{
    display: none;
}

.filter-dn{
    display: none;
}

.sort-img-down, .sort-img-up{
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 10px;
    display: none;
}


.active-sort{
    background-color: #d47559 ;
}

.active-sort-img{
    display: inline-block;
}

.syn-det-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #181f31;
    border: 1px solid #607D90;
    z-index: 20;
    top:40px;
    left: -40px;
    -webkit-box-shadow: -5px 5px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 12px 1px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 12px 1px rgba(0,0,0,0.75);
}

.syn-det-title{
    height: 30px;
    border-bottom: 1px solid #607D90;
    padding: 5px;
    display: flex;
    align-items: center;
}

.syn-det-title-img{
    height: 25px;
    width: 25px;
    justify-self: center;
    margin-right: 5px;
}

.syn-det-desc-wrapper{
    height: min-content;
    padding: 10px;
    font-weight: 300;
    border-bottom: 1px solid #607D90;
}

.syn-det-desc-title{
    margin-bottom: 10px;
    display: inline-block;
    
}

div.syn-det-title > span{
    font-weight: 300;
}

.syn-det-bonus{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.syn-det-bonus-number{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right:10px;
 
}

.syn-det-bonus-val{
    width: 345px;
}

#first-bonus{
    background-image: url("../images/general/first-bonus.svg");
    background-size: 25px 25px;
}
#second-bonus{
    background-image: url("../images/general/second-bonus.svg");
    background-size: 25px 25px;
}

#third-bonus{
    background-image: url("../images/general/third-bonus.svg");
    background-size: 25px 25px;
}

.similar-champ{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border: 1px solid #607D90;
}

.similar-champs-wrapper{
    height: min-content;
    display: flex;
    flex-direction: column;
    padding:7px 0px 7px 10px;
}


.similar-champs-img{
    margin-top: 7px;
}

div.similar-champs-wrapper>span{
    opacity: 80%;
    font-weight: 300;
}



}


