main{
    width: 600px;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 250px auto;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

form{
    width: fit-content;
    display: inline-block;
    height: 36px;
    margin: 0px auto;


}

input, select, button{
    height: 20px;
    background-color: #181f31;
    color:#bfc4c8;
    border: 1px solid #607D90;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0px;
    float:left;
    outline-style: none;
}

button{
    font-size: 16px;
    width: 70px;
    border-left: 0px;
}

select{
    width: 80px;
    border-right: 0px;
}

input{
    height: 22px;
    width: 400px;
    
}

select, button{
    height: 36px;
}

