@media (max-width:549px){
    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        box-sizing: content-box;
        position: relative;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    img{
        height: 40px;
        width: 40px;
    }

    .finished-title{
        border-bottom: 1px solid #607D90;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin:0px;
    }

    .finished-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        min-width: 280px;
    }

    .item-img{
        padding: 8px;
        position: relative;
        
    }

    img{
        border: 1px solid #1b2d33;
    }

    .item-img > img {
        opacity: 60%;
        transition: .3s;
        box-sizing: border-box;
        ;
    }

    .item-img:hover > img{
        opacity:100%;
        border: 1px solid #d47559;
    }

    .content-header-title{
        font-size: 25px;
        margin:0px 0px 10px 0px;
    }

    .content-header-description{
        opacity: 80%;
        font-weight: 300;
        margin:0px 0px 20px 0px;
    }

    .base-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        border: 1px solid #607D90;
        background-color: #283351;
        align-items: center;
        justify-content: center;
    }

    .asd{
        display: flex;
        flex-direction: column;
    }

    .base-items{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .item-lists{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
    }

    .content-list{
        width: 100%;
        margin-top: 20px;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .list-header{
        display: flex;
        height: min-content;
        background-color: #283351;
        align-items: center;
        border: 1px solid #607D90;
        border-collapse: collapse;
        padding:5px;
        box-sizing: border-box;
    }

    .list-header-recipe, .recipe ,.result{
        width: 80px;

    }

    .recipe > img:first-of-type{
        display: none;
    }

    .recipe{
        display: flex;
        justify-items: center;
    }

    .list-header-recipe, .list-header-result, .list-header-description, .recipe , .result, .description{
    padding-left: 10px;

    }

    .list-header-result, .result{
        min-width: 70px;
        display: flex;
        justify-content: center;
    }



    .list-header-description , .description{
        width: 519px;
    }

    .item-wrapper{
        height: min-content;
        display: flex;
        flex-direction: row;
        background-color: #283351;
        border:1px solid #607D90;
        border-collapse: collapse;
        justify-content: center;
        align-items: center;
        padding:5px;
    }

    p{
        margin:0px;
    }


    .recipe >img {
        margin:8px 8px 8px 0px;
    }

    .result-img{
        height: 35px;
        width: 35px;
    }

    .active{
        opacity:100% !important;
        border: 1px solid #d47559 !important;
    }

    .item-det-wrapper{
        position: absolute;
        width: 350px;
        height: min-content;
        background-color: #111523;
        border: 1px solid #607D90;
        z-index: 10;
        left:-30px;
    }

    .det-info{
        display: flex;
        border-bottom: 1px solid #607D90;
        padding:5px 5px 0px 5px;
    }


    .det-img{
        height: 40px;
        width: 40px;
    }

    .det-stats{
        padding:0px 5px 5px 10px;
    }

    .det-stats>span{
        padding-right:5px;
    }

    .det-bonus{
        padding:5px 5px 0px 0px;
        font-size: 14px;
    }

    .det-desc{
        padding:5px;
    }

    .det-recipe{
        height: 30px;
        padding: 5px;
        border-top: 1px solid #607D90;
        display: flex;
        align-items: center;
    }

    .det-recipe > span{
        margin-right: 5px;
    }

    .det-recipe > img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
}

@media (min-width:550px) and (max-width:609px){
    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        box-sizing: content-box;
        position: relative;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    img{
        height: 40px;
        width: 40px;
    }

    .finished-title{
        border-bottom: 1px solid #607D90;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin:0px;
    }

    .finished-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        min-width: 280px;
    }

    .item-img{
        padding: 8px;
        position: relative;
        
    }

    img{
        border: 1px solid #1b2d33
    }

    .item-img > img {
        opacity: 60%;
        transition: .3s;
        box-sizing: border-box;
        ;
    }

    .item-img:hover > img{
        opacity:100%;
        border: 1px solid #d47559;
    }

    .content-header-title{
        font-size: 25px;
        margin:0px 0px 10px 0px;
    }

    .content-header-description{
        opacity: 80%;
        font-weight: 300;
        margin:0px 0px 20px 0px;
    }

    .base-list{
        display: flex;
        flex-direction: row;
        height: 70px;
        border: 1px solid #607D90;
        background-color: #283351;
        align-items: center;
        justify-content: space-evenly;
    }

    .asd{
        display: flex;
        flex-direction: column;
    }

    .base-items{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .item-lists{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
    }

    .content-list{
        width: 100%;
        margin-top: 20px;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .list-header{
        display: flex;
        height: min-content;
        background-color: #283351;
        align-items: center;
        border: 1px solid #607D90;
        border-collapse: collapse;
        padding:5px;
        box-sizing: border-box;
    }

    .list-header-recipe, .recipe ,.result{
        width: 80px;

    }

    .recipe > img:first-of-type{
        display: none;
    }

    .recipe{
        display: flex;
        justify-items: center;
    }

    .list-header-recipe, .list-header-result, .list-header-description, .recipe , .result, .description{
    padding-left: 10px;

    }

    .list-header-result, .result{
        min-width: 70px;
        display: flex;
        justify-content: center;
    }



    .list-header-description , .description{
        width: 519px;
    }

    .item-wrapper{
        height: min-content;
        display: flex;
        flex-direction: row;
        background-color: #283351;
        border:1px solid #607D90;
        border-collapse: collapse;
        justify-content: center;
        align-items: center;
        padding:5px;
    }

    p{
        margin:0px;
    }


    .recipe >img {
        margin:8px 8px 8px 0px;
    }

    .result-img{
        height: 35px;
        width: 35px;
    }

    .active{
        opacity:100% !important;
        border: 1px solid #d47559 !important;
    }

    .item-det-wrapper{
        position: absolute;
        width: 350px;
        height: min-content;
        background-color: #111523;
        border: 1px solid #607D90;
        z-index: 10;
        left:-30px;
    }

    .det-info{
        display: flex;
        border-bottom: 1px solid #607D90;
        padding:5px 5px 0px 5px;
    }


    .det-img{
        height: 40px;
        width: 40px;
    }

    .det-stats{
        padding:0px 5px 5px 10px;
    }

    .det-stats>span{
        padding-right:5px;
    }

    .det-bonus{
        padding:5px 5px 0px 0px;
        font-size: 14px;
    }

    .det-desc{
        padding:5px;
    }

    .det-recipe{
        height: 30px;
        padding: 5px;
        border-top: 1px solid #607D90;
        display: flex;
        align-items: center;
    }

    .det-recipe > span{
        margin-right: 5px;
    }

    .det-recipe > img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
}

@media (min-width:610px) and (max-width:789px){
    main{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        padding: 5px 30px 5px 0px;
        width: 100%;
        box-sizing: content-box;
        position: relative;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    img{
        height: 40px;
        width: 40px;
    }

    .finished-title{
        border-bottom: 1px solid #607D90;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin:0px;
    }

    .finished-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        min-width: 280px;
    }

    .item-img{
        padding: 8px;
        position: relative;
        
    }

    img{
        border: 1px solid #1b2d33
    }

    .item-img > img {
        opacity: 60%;
        transition: .3s;
        box-sizing: border-box;
        ;
    }

    .item-img:hover > img{
        opacity:100%;
        border: 1px solid #d47559;
    }

    .content-header-title{
        font-size: 25px;
        margin:0px 0px 10px 0px;
    }

    .content-header-description{
        opacity: 80%;
        font-weight: 300;
        margin:0px 0px 20px 0px;
    }

    .base-list{
        display: flex;
        flex-direction: row;
        height: 70px;
        border: 1px solid #607D90;
        background-color: #283351;
        align-items: center;
        justify-content: space-evenly;
    }

    .asd{
        display: flex;
        flex-direction: column;
    }

    .base-items{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .item-lists{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
    }

    .content-list{
        width: 100%;
        margin-top: 20px;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .list-header{
        display: flex;
        height: 30px;
        background-color: #283351;
        align-items: center;
        border: 1px solid #607D90;
        border-collapse: collapse;
        padding:5px;
        box-sizing: border-box;
    }

    .list-header-recipe, .recipe ,.result{
        width: 150px;

    }

    .list-header-recipe, .list-header-result, .list-header-description, .recipe , .result, .description{
    padding-left: 10px;
    }

    .list-header-result, .result{
        min-width: 100px;
    }

    .list-header-description , .description{
        width: 519px;
    }

    .item-wrapper{
        height: min-content;
        display: flex;
        flex-direction: row;
        background-color: #283351;
        border:1px solid #607D90;
        border-collapse: collapse;
        justify-content: center;
        align-items: center;
        padding:5px;
    }

    p{
        margin:0px;
    }


    .recipe >img {
        margin:8px 8px 8px 0px;
    }

    .result-img{
        height: 35px;
        width: 35px;
    }

    .active{
        opacity:100% !important;
        border: 1px solid #d47559 !important;
    }

    .item-det-wrapper{
        position: absolute;
        width: 350px;
        height: min-content;
        background-color: #111523;
        border: 1px solid #607D90;
        z-index: 10;
        left:-30px;
    }

    .det-info{
        display: flex;
        border-bottom: 1px solid #607D90;
        padding:5px 5px 0px 5px;
    }


    .det-img{
        height: 40px;
        width: 40px;
    }

    .det-stats{
        padding:0px 5px 5px 10px;
    }

    .det-stats>span{
        padding-right:5px;
    }

    .det-bonus{
        padding:5px 5px 0px 0px;
        font-size: 14px;
    }

    .det-desc{
        padding:5px;
    }

    .det-recipe{
        height: 30px;
        padding: 5px;
        border-top: 1px solid #607D90;
        display: flex;
        align-items: center;
    }

    .det-recipe > span{
        margin-right: 5px;
    }

    .det-recipe > img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
}

@media (min-width:790px) and ( max-width: 1119px){
    main{
        display: flex;
        flex-direction: row;
        width: 769px;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        padding: 5px 30px 5px 0px;
        width: 769px;
        box-sizing: content-box;
        position: relative;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    img{
        height: 40px;
        width: 40px;
    }

    .finished-title{
        border-bottom: 1px solid #607D90;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin:0px;
    }

    .finished-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        min-width: 280px;
    }

    .item-img{
        padding: 8px;
        position: relative;
        
    }

    img{
        border: 1px solid #1b2d33
    }

    .item-img > img {
        opacity: 60%;
        transition: .3s;
        box-sizing: border-box;
        ;
    }

    .item-img:hover > img{
        opacity:100%;
        border: 1px solid #d47559;
    }

    .content-header-title{
        font-size: 25px;
        margin:0px 0px 10px 0px;
    }

    .content-header-description{
        opacity: 80%;
        font-weight: 300;
        margin:0px 0px 20px 0px;
    }

    .base-list{
        display: flex;
        flex-direction: row;
        height: 70px;
        border: 1px solid #607D90;
        background-color: #283351;
        align-items: center;
        justify-content: space-evenly;
    }

    .asd{
        display: flex;
        flex-direction: column;
    }

    .base-items{
        width: 769px;
        position: relative;
        margin-bottom: 20px;
    }

    .item-lists{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
    }

    .content-list{
        width: 769px;
        margin-top: 20px;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .list-header{
        display: flex;
        height: 30px;
        background-color: #283351;
        align-items: center;
        border: 1px solid #607D90;
        border-collapse: collapse;
        padding:5px;
        box-sizing: border-box;
    }

    .list-header-recipe, .recipe ,.result{
        width: 150px;

    }

    .list-header-recipe, .list-header-result, .list-header-description, .recipe , .result, .description{
    padding-left: 10px;
    }

    .list-header-result, .result{
        width: 100px;
    }

    .list-header-description , .description{
        width: 519px;
    }

    .item-wrapper{
        height: min-content;
        display: flex;
        flex-direction: row;
        background-color: #283351;
        border:1px solid #607D90;
        border-collapse: collapse;
        justify-content: center;
        align-items: center;
        padding:5px;
    }

    p{
        margin:0px;
    }


    .recipe >img {
        margin:8px 8px 8px 0px;
    }

    .result-img{
        height: 35px;
        width: 35px;
    }

    .active{
        opacity:100% !important;
        border: 1px solid #d47559 !important;
    }

    .item-det-wrapper{
        position: absolute;
        width: 350px;
        height: min-content;
        background-color: #111523;
        border: 1px solid #607D90;
        z-index: 10;
        left:-30px;
    }

    .det-info{
        display: flex;
        border-bottom: 1px solid #607D90;
        padding:5px 5px 0px 5px;
    }


    .det-img{
        height: 40px;
        width: 40px;
    }

    .det-stats{
        padding:0px 5px 5px 10px;
    }

    .det-stats>span{
        padding-right:5px;
    }

    .det-bonus{
        padding:5px 5px 0px 0px;
        font-size: 14px;
    }

    .det-desc{
        padding:5px;
    }

    .det-recipe{
        height: 30px;
        padding: 5px;
        border-top: 1px solid #607D90;
        display: flex;
        align-items: center;
    }

    .det-recipe > span{
        margin-right: 5px;
    }

    .det-recipe > img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
}

@media ( min-width: 1120px){
    main{
        display: flex;
        flex-direction: row;
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        padding: 5px 30px 5px 0px;
        width: 280px;
        border-right: 1px solid #607D90;
        margin-bottom: 50px;
        box-sizing: content-box;
        position: absolute;
        left: 0px;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    img{
        height: 40px;
        width: 40px;
    }

    .finished-title{
        border-bottom: 1px solid #607D90;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin:0px;
    }

    .finished-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: min-content;
        min-width: 280px;
    }

    .item-img{
        padding: 8px;
        position: relative;
        
    }

    img{
        border: 1px solid #1b2d33
    }

    .item-img > img {
        opacity: 60%;
        transition: .3s;
        box-sizing: border-box;
        ;
    }

    .item-img:hover > img{
        opacity:100%;
        border: 1px solid #d47559;
    }

    .content-header-title{
        font-size: 25px;
        margin:0px 0px 10px 0px;
    }

    .content-header-description{
        opacity: 80%;
        font-weight: 300;
        margin:0px 0px 20px 0px;
    }

    .base-list{
        display: flex;
        flex-direction: row;
        height: 70px;
        border: 1px solid #607D90;
        background-color: #283351;
        align-items: center;
        justify-content: space-evenly;
    }

    .asd{
        display: flex;
        flex-direction: column;
    }

    .base-items{
        margin-left: 30px;
        width: 769px;
        margin-left: auto;
        position: relative;
    }

    .item-lists{
        display: flex;
        flex-wrap: nowrap;
    }

    .content-list{
        width: 769px;
        margin-left: auto;
        margin-top: 20px;
        align-content: flex-start;
        margin-bottom: 50px;
    }

    .list-header{
        display: flex;
        height: 30px;
        background-color: #283351;
        align-items: center;
        border: 1px solid #607D90;
        border-collapse: collapse;
        padding:5px;
        box-sizing: border-box;
    }

    .list-header-recipe, .recipe ,.result{
        width: 150px;

    }

    .list-header-recipe, .list-header-result, .list-header-description, .recipe , .result, .description{
    padding-left: 10px;
    }

    .list-header-result, .result{
        width: 100px;
    }

    .list-header-description , .description{
        width: 519px;
    }

    .item-wrapper{
        height: min-content;
        display: flex;
        flex-direction: row;
        background-color: #283351;
        border:1px solid #607D90;
        border-collapse: collapse;
        justify-content: center;
        align-items: center;
        padding:5px;
    }

    p{
        margin:0px;
    }


    .recipe >img {
        margin:8px 8px 8px 0px;
    }

    .result-img{
        height: 35px;
        width: 35px;
    }

    .active{
        opacity:100% !important;
        border: 1px solid #d47559 !important;
    }

    .item-det-wrapper{
        position: absolute;
        width: 350px;
        height: min-content;
        background-color: #111523;
        border: 1px solid #607D90;
        z-index: 10;
        left:-30px;
    }

    .det-info{
        display: flex;
        border-bottom: 1px solid #607D90;
        padding:5px 5px 0px 5px;
    }


    .det-img{
        height: 40px;
        width: 40px;
    }

    .det-stats{
        padding:0px 5px 5px 10px;
    }

    .det-stats>span{
        padding-right:5px;
    }

    .det-bonus{
        padding:5px 5px 0px 0px;
        font-size: 14px;
    }

    .det-desc{
        padding:5px;
    }

    .det-recipe{
        height: 30px;
        padding: 5px;
        border-top: 1px solid #607D90;
        display: flex;
        align-items: center;
    }

    .det-recipe > span{
        margin-right: 5px;
    }

    .det-recipe > img{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
}
