@media (max-width:489px){
    main{
        display: flex;
        flex-direction: column;
        width: 95%;
        min-width: 330px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    aside{
        width: 100%;
        height: 150px;
        border: 1px solid #607D90;
        box-sizing: border-box;
        background-color: #283351;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .content{
        width: 100%;
        min-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .match-wrapper{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        background-color: #283351;
        align-content: center;
        padding: 10px 10px 10px 30px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .side-bar{
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
    }

    .game-info{
        display: flex;
        flex-direction: row;
        height: min-content;
        width: fit-content;
        margin: auto;
    }

    .game-info > h2{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        background-color: #737373; /* note: this will be rank class */
        color: #FFF;
        justify-content: center;
    }
    
    .game-info > span{
        margin: 0px 7px;
    }

    .details{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: fit-content;
        margin: 17px auto 10px auto;
    }

    .champ_img{
        height: 35px;
        width: 35px;
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .champion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px 5px 0px 5px;
    }

    .stars{
        width: 32px;
        height: 10px;
    }

    .traits-list{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        flex-wrap: wrap;
    }

    .trait{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .champions-list{
        display: flex;
        width: 260px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .side-bar-gold{
        background-color: #ffba3b;
    }

    .side-bar-silver{
        background-color: #91b1bc;
    }

    .side-bar-bronze{
        background-color: #ca9472;
    }

    .side-bar-iron{
        background-color: #737373;
    }


    .placement-gold{
        margin: 0px;
        color: #ffba3b;
    }

    .placement-silver{
        margin: 0px;
        color: #91b1bc;
    }

    .placement-bronze{
        margin: 0px;
        color: #ca9472;
    }

    .placement-iron{
        margin: 0px;
        color: #737373;
    }


    .first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .rank-img, .rank-img> img{
        height: 130px;
        width: 130px;
    }

    .rank-info{
        height: fit-content;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }
    
    .rank-details{
        position: relative;
    }

    .rank-info >h2{
        margin:0px 0px 5px 0px;
        word-break: break-all; 
    }

    .lp{
        float: right;
    }

    .bottom-bar{
        height: 5px;
        width: 100%;
        margin-right: 20px;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .challenger{
        background-color: #ffd090;
    }

    .grandmaster{
        background-color: #c340da;
    }

    .master{
        background-color: #5b4ba4;
    }

    .diamond{
        background-color: #5493c9;
    }

    .platinum{
        background-color: #11b288;
    }

    .gold{
        background-color: #ffba3b;
    }

    .silver{
        background-color: #93b1bc;
    }

    .bronze{
        background-color: #ca9472;
    }

    .iron{
        background-color: #505050;
    }

    .challenger-font{
        color: #ffd090;
    }

    .grandmaster-font{
        color: #c340da;
    }

    .master-font{
        color: #5b4ba4;
    }

    .diamond-font{
        color: #5493c9;
    }

    .platinum-font{
        color: #11b288;
    }

    .gold-font{
        color: #ffba3b;
    }

    .silver-font{
        color: #93b1bc;
    }

    .bronze-font{
        color: #ca9472;
    }

    .iron-font{
        color: #505050;
    }



    .search-username{
        width: 95%;
        min-width: 330px;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    
    form{
        width: 100%;
        display: inline-block;
        height: 36px;
        margin: 0px auto;
    }
    
    input, select, button{
        height: 20px;
        background-color: #181f31;
        color:#bfc4c8;
        border: 1px solid #607D90;
        padding: 6px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin:0px;
        float:left;
        outline-style: none;
    }
    
    button{
        font-size: 16px;
        width: 70px;
        border-left: 0px;
    }
    
    select{
        width: 80px;
        border-right: 0px;
    }
    
    input{
        height: 22px;
        width: calc(100% - 164px);
        
    }
    
    select, button{
        height: 36px;
    }

    .no-match{
        text-align: center;
        width: 100%;
    }

    .match-list-assist{
        display: none;
    }

    .loading{
        height: 100px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50px, 0px);
    }

    .loading-dn{
        display: none;
    }
}

@media (min-width:490px) and (max-width:594px){
    main{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    aside{
        width: 100%;
        height: fit-content;
        border: 1px solid #607D90;
        box-sizing: border-box;
        background-color: #283351;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .match-wrapper{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        background-color: #283351;
        align-content: center;
        padding: 10px 10px 10px 30px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .side-bar{
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
    }

    .game-info{
        display: flex;
        flex-direction: row;
        height: min-content;
        margin-left:10px;
    }

    .game-info > span{
        margin: 0px 7px;
    }

    .game-info > h2{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        background-color: #737373; /* note: this will be rank class */
        color: #FFF;
        justify-content: center;
    }

    .details{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 405px;
        margin: 17px 0px 10px 10px;
    }

    .champ_img{
        height: 35px;
        width: 35px;
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .champion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px 5px 0px 5px;
    }

    .stars{
        width: 32px;
        height: 10px;
    }

    .traits-list{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        flex-wrap: wrap;
    }

    .trait{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .champions-list{
        display: flex;
        width: 405px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .side-bar-gold{
        background-color: #ffba3b;
    }

    .side-bar-silver{
        background-color: #91b1bc;
    }

    .side-bar-bronze{
        background-color: #ca9472;
    }

    .side-bar-iron{
        background-color: #737373;
    }


    .placement-gold{
        margin: 0px;
        color: #ffba3b;
    }

    .placement-silver{
        margin: 0px;
        color: #91b1bc;
    }

    .placement-bronze{
        margin: 0px;
        color: #ca9472;
    }

    .placement-iron{
        margin: 0px;
        color: #737373;
    }


    .first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .rank-img, .rank-img> img{
        height: 150px;
        width: 150px;
    }

    .rank-info{
        height: fit-content;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    
    .rank-details{
        position: relative;
    }

    .rank-info >h2{
        margin:0px 0px 5px 0px;
        word-break: break-all;
    }

    .lp{
        float: right;
    }

    .bottom-bar{
        height: 5px;
        width: 100%;
        margin-right: 20px;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .challenger{
        background-color: #ffd090;
    }

    .grandmaster{
        background-color: #c340da;
    }

    .master{
        background-color: #5b4ba4;
    }

    .diamond{
        background-color: #5493c9;
    }

    .platinum{
        background-color: #11b288;
    }

    .gold{
        background-color: #ffba3b;
    }

    .silver{
        background-color: #93b1bc;
    }

    .bronze{
        background-color: #ca9472;
    }

    .iron{
        background-color: #505050;
    }

    .challenger-font{
        color: #ffd090;
    }

    .grandmaster-font{
        color: #c340da;
    }

    .master-font{
        color: #5b4ba4;
    }

    .diamond-font{
        color: #5493c9;
    }

    .platinum-font{
        color: #11b288;
    }

    .gold-font{
        color: #ffba3b;
    }

    .silver-font{
        color: #93b1bc;
    }

    .bronze-font{
        color: #ca9472;
    }

    .iron-font{
        color: #505050;
    }



    .search-username{
        width: 95%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    
    form{
        width: fit-content;
        display: inline-block;
        height: 36px;
        margin: 0px auto;
    }
    
    input, select, button{
        height: 20px;
        background-color: #181f31;
        color:#bfc4c8;
        border: 1px solid #607D90;
        padding: 6px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin:0px;
        float:left;
        outline-style: none;
    }
    
    button{
        font-size: 16px;
        width: 70px;
        border-left: 0px;
    }
    
    select{
        width: 80px;
        border-right: 0px;
    }
    
    input{
        height: 22px;
        width: 285px;
        
    }
    
    select, button{
        height: 36px;
    }

    .no-match{
        text-align: center;
        width: 100%;
    }

    .match-list-assist{
        display: none;
    }

    .loading{
        height: 100px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50px, 0px);
    }

    .loading-dn{
        display: none;
    }
}

@media (min-width:595px) and (max-width:859px){
    main{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    aside{
        width: 100%;
        height: 150px;
        border: 1px solid #607D90;
        box-sizing: border-box;
        background-color: #283351;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .match-wrapper{
        display: flex;
        height: fit-content;
        width: 100%;
        background-color: #283351;
        align-content: center;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .side-bar{
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
    }

    .game-info{
        display: flex;
        flex-direction: column;
        align-self: center;
        height: min-content;
        margin: 0px 15px 0px 15px;
    }

    .details{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 450px;
        margin: 0px auto 0px auto;
    }

    .champ_img{
        height: 40px;
        width: 40px;
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .champion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px 5px 0px 5px;
    }

    .stars{
        width: 32px;
        height: 10px;
    }

    .traits-list{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        flex-wrap: wrap;
    }

    .trait{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .champions-list{
        display: flex;
        width: 450px;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .side-bar-gold{
        background-color: #ffba3b;
    }

    .side-bar-silver{
        background-color: #91b1bc;
    }

    .side-bar-bronze{
        background-color: #ca9472;
    }

    .side-bar-iron{
        background-color: #737373;
    }


    .placement-gold{
        margin: 0px;
        color: #ffba3b;
    }

    .placement-silver{
        margin: 0px;
        color: #91b1bc;
    }

    .placement-bronze{
        margin: 0px;
        color: #ca9472;
    }

    .placement-iron{
        margin: 0px;
        color: #737373;
    }


    .first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .rank-img, .rank-img> img{
        height: 150px;
        width: 150px;
    }

    .rank-info{
        height: 60px;
        width: fit-content;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    
    .rank-details{
        position: relative;
    }

    .rank-info >h2{
        margin:0px 0px 5px 0px; 
    }

    .lp{
        float: right;
    }

    .bottom-bar{
        height: 5px;
        width: 100%;
        margin-right: 20px;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .challenger{
        background-color: #ffd090;
    }

    .grandmaster{
        background-color: #c340da;
    }

    .master{
        background-color: #5b4ba4;
    }

    .diamond{
        background-color: #5493c9;
    }

    .platinum{
        background-color: #11b288;
    }

    .gold{
        background-color: #ffba3b;
    }

    .silver{
        background-color: #93b1bc;
    }

    .bronze{
        background-color: #ca9472;
    }

    .iron{
        background-color: #505050;
    }

    .challenger-font{
        color: #ffd090;
    }

    .grandmaster-font{
        color: #c340da;
    }

    .master-font{
        color: #5b4ba4;
    }

    .diamond-font{
        color: #5493c9;
    }

    .platinum-font{
        color: #11b288;
    }

    .gold-font{
        color: #ffba3b;
    }

    .silver-font{
        color: #93b1bc;
    }

    .bronze-font{
        color: #ca9472;
    }

    .iron-font{
        color: #505050;
    }




    .search-username{
        width: 95%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    
    form{
        width: fit-content;
        display: inline-block;
        height: 36px;
        margin: 0px auto;
    }
    
    input, select, button{
        height: 20px;
        background-color: #181f31;
        color:#bfc4c8;
        border: 1px solid #607D90;
        padding: 6px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin:0px;
        float:left;
        outline-style: none;
    }
    
    button{
        font-size: 16px;
        width: 70px;
        border-left: 0px;
    }
    
    select{
        width: 80px;
        border-right: 0px;
    }
    
    input{
        height: 22px;
        width: 380px;
        
    }
    
    select, button{
        height: 36px;
    }

    .no-match{
        text-align: center;
        width: 100%;
    }

    .match-list-assist{
        display: none;
    }

    .loading{
        height: 100px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50px, 0px);
    }

    .loading-dn{
        display: none;
    }

}

@media (min-width:860px) and (max-width:1119px){
    main{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    aside{
        width: 800px;
        height: 150px;
        border: 1px solid #607D90;
        box-sizing: border-box;
        background-color: #283351;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

    }

    .content{
        width: 100%;
        min-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .match-wrapper{
        display: flex;
        height: fit-content;
        width: 800px;
        background-color: #283351;
        align-content: center;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        margin: 0px auto 10px auto;
    }

    .side-bar{
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
    }

    .game-info{
        display: flex;
        flex-direction: column;
        align-self: center;
        height: min-content;
        margin: 0px 15px 0px 15px;
    }

    .details{
        display: flex;
        align-content: flex-end;
    }

    .champ_img{
        height: 40px;
        width: 40px;
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .champion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px 5px 5px 5px;
    }

    .stars{
        width: 32px;
        height: 10px;
    }

    .traits-list{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        flex-wrap: wrap;
    }

    .trait{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .champions-list{
        display: flex;
        width: 450px;
        right: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .side-bar-gold{
        background-color: #ffba3b;
    }

    .side-bar-silver{
        background-color: #91b1bc;
    }

    .side-bar-bronze{
        background-color: #ca9472;
    }

    .side-bar-iron{
        background-color: #737373;
    }


    .placement-gold{
        margin: 0px;
        color: #ffba3b;
    }

    .placement-silver{
        margin: 0px;
        color: #91b1bc;
    }

    .placement-bronze{
        margin: 0px;
        color: #ca9472;
    }

    .placement-iron{
        margin: 0px;
        color: #737373;
    }


    .first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .rank-img, .rank-img> img{
        height: 150px;
        width: 150px;
    }

    .rank-info{
        height: 60px;
        width: fit-content;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    
    .rank-details{
        position: relative;
    }

    .rank-info >h2{
        margin:0px 0px 5px 0px; 
    }

    .lp{
        float: right;
    }

    .bottom-bar{
        height: 5px;
        width: 100%;
        margin-right: 20px;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .challenger{
        background-color: #ffd090;
    }

    .grandmaster{
        background-color: #c340da;
    }

    .master{
        background-color: #5b4ba4;
    }

    .diamond{
        background-color: #5493c9;
    }

    .platinum{
        background-color: #11b288;
    }

    .gold{
        background-color: #ffba3b;
    }

    .silver{
        background-color: #93b1bc;
    }

    .bronze{
        background-color: #ca9472;
    }

    .iron{
        background-color: #505050;
    }

    .challenger-font{
        color: #ffd090;
    }

    .grandmaster-font{
        color: #c340da;
    }

    .master-font{
        color: #5b4ba4;
    }

    .diamond-font{
        color: #5493c9;
    }

    .platinum-font{
        color: #11b288;
    }

    .gold-font{
        color: #ffba3b;
    }

    .silver-font{
        color: #93b1bc;
    }

    .bronze-font{
        color: #ca9472;
    }

    .iron-font{
        color: #505050;
    }


    .search-username{
        width: 600px;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    
    form{
        width: fit-content;
        display: inline-block;
        height: 36px;
        margin: 0px auto;
    }
    
    input, select, button{
        height: 20px;
        background-color: #181f31;
        color:#bfc4c8;
        border: 1px solid #607D90;
        padding: 6px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin:0px;
        float:left;
        outline-style: none;
    }
    
    button{
        font-size: 16px;
        width: 70px;
        border-left: 0px;
    }
    
    select{
        width: 80px;
        border-right: 0px;
    }
    
    input{
        height: 22px;
        width: 400px;
        
    }
    
    select, button{
        height: 36px;
    }

    .no-match{
        text-align: center;
        width: 100%;
    }

    .match-list-assist{
        display: none;
    }

    .loading{
        height: 100px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50px, 0px);
    }

    .loading-dn{
        display: none;
    }

}

@media (min-width:1120px){
    main{
        display: flex;
        flex-direction: row;
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        width: 300px;
        height: 250px;
        border: 1px solid #607D90;
        margin-right: 36px;
        margin-left: 10px;
        box-sizing: border-box;
        background-color: #283351;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .content{
        margin-right: 10px;
        position: relative;
    }

    .match-wrapper{
        display: flex;
        height: 100px;
        width: 800px;
        background-color: #283351;
        align-content: center;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .side-bar{
        height: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
    }

    .game-info{
        display: flex;
        flex-direction: column;
        align-self: center;
        height: min-content;
        margin: 0px 15px 0px 15px;
    }

    .details{
        display: flex;
        align-content: flex-end;
    }



    .champ_img{
        height: 40px;
        width: 40px;
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .champion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px 5px 0px 5px;
    }


    .stars{
        width: 32px;
        height: 10px;
    }

    .traits-list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 200px;
        flex-wrap: wrap;
    }

    .trait{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }

    .champions-list{
        display: flex;
        width: 500px;
        right: 10px;
        top: 50%;
        justify-content: start;
        align-items: center;

    }

    .side-bar-gold{
        background-color: #ffba3b;
    }

    .side-bar-silver{
        background-color: #91b1bc;
    }

    .side-bar-bronze{
        background-color: #ca9472;
    }

    .side-bar-iron{
        background-color: #737373;
    }


    .placement-gold{
        margin: 0px;
        color: #ffba3b;
    }

    .placement-silver{
        margin: 0px;
        color: #91b1bc;
    }

    .placement-bronze{
        margin: 0px;
        color: #ca9472;
    }

    .placement-iron{
        margin: 0px;
        color: #737373;
    }


    .first-bonus{
        background-image: url("../images/general/first-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .second-bonus{
        background-image: url("../images/general/second-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .third-bonus{
        background-image: url("../images/general/third-bonus.svg");
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
    }

    .rank-img, .rank-img> img{
        height: 150px;
        width: 150px;
    }

    .rank-info{
        height: 60px;
        width: 200px;
        position: relative;
        margin-right: 20px;
        word-break: break-all;
    }

    .rank-info >h2{
        margin:0px 0px 5px 0px; 
    }

    .lp{
        float: right;
    }

    .bottom-bar{
        height: 5px;
        width: 100%;
        margin-right: 20px;
        
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    .challenger{
        background-color: #ffd090;
    }

    .grandmaster{
        background-color: #c340da;
    }

    .master{
        background-color: #5b4ba4;
    }

    .diamond{
        background-color: #5493c9;
    }

    .platinum{
        background-color: #11b288;
    }

    .gold{
        background-color: #ffba3b;
    }

    .silver{
        background-color: #93b1bc;
    }

    .bronze{
        background-color: #ca9472;
    }

    .iron{
        background-color: #505050;
    }

    .challenger-font{
        color: #ffd090;
    }

    .grandmaster-font{
        color: #c340da;
    }

    .master-font{
        color: #5b4ba4;
    }

    .diamond-font{
        color: #5493c9;
    }

    .platinum-font{
        color: #11b288;
    }

    .gold-font{
        color: #ffba3b;
    }

    .silver-font{
        color: #93b1bc;
    }

    .bronze-font{
        color: #ca9472;
    }

    .iron-font{
        color: #505050;
    }


    .search-username{
        width: 600px;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px auto;
    }
    
    form{
        width: fit-content;
        display: inline-block;
        height: 36px;
        margin: 0px auto;
    }
    
    input, select, button{
        height: 20px;
        background-color: #181f31;
        color:#bfc4c8;
        border: 1px solid #607D90;
        padding: 6px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin:0px;
        float:left;
        outline-style: none;
    }
    
    button{
        font-size: 16px;
        width: 70px;
        border-left: 0px;
    }
    
    select{
        width: 80px;
        border-right: 0px;
    }
    
    input{
        height: 22px;
        width: 400px;
        
    }
    
    select, button{
        height: 36px;
    }

    .no-match{
        text-align: center;
        width: 100%;
    }

    .match-list-assist{
        display: none;
    }

    .loading{
        height: 100px;
        position: absolute;
        top: 50%;
        left: 325px;
    }

    .loading-dn{
        display: none;
    }

}