@media only screen and (max-width: 1167px) {
    .nav-links-dp{
        display: inline-block !important;
    }
    .nav-links{
        flex-direction: column;
        position: absolute;
        width: 200px;
        top: 0px;
        right:0px;
        height: 100%;
        background-color: #181f31;
        z-index: 10;
        border-left: 1px solid #607D90;
        display:none;
    }

    .nav-item{
        display: flex;
        width: 100%;
        height: 60px;
        margin: 0px;
        top: 60px;
        position: relative;
    }


    body{
        background-color: #181f31;
        font-family: 'Roboto', sans-serif;
        margin:0px;
        color: #bfc4c8; 
    }

    nav{
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #607D90;
        margin-bottom: 40px;
    }

    .nav-link, .logo-wrapper, .menu-icon{
        color: #bfc4c8;
        text-decoration: none;
    }

    .menu-icon{
        height: 40px;
        width: 40px;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 11;
        cursor: pointer;
    }

    .menu-icon-open{
        height: 40px;
        width: 40px;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 140px;
        z-index: 11;
        cursor: pointer;
    }

    .logo-wrapper{
        align-items: center;
        display: flex;
        transition: .3s;
    }


    .nav-logo-wrapper{
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 40px;
        align-items: center;
        justify-content: center;

    }

    .nav-logo{
        height: 40px;
        width: 40px;
        border:none !important;
    }


    .nav-wrapper{
        display: flex;
        flex-direction: row;
        width: 1270px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }



    .nav-title{
        display: flex;
        margin: 0px 0px 0px 15px;
        width:120px;
        height: 40px;
        align-items: center;
    }

    .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        
    }

    ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
    }

}

@media only screen and (min-width: 1168px) {

body{
   background-color: #181f31;
   font-family: 'Roboto', sans-serif;
   margin:0px;
   color: #bfc4c8;  
}

nav{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #607D90;
    margin-bottom: 40px;
}

.nav-link, .logo-wrapper, .menu-icon{
    color: #bfc4c8;
    text-decoration: none;
}

.menu-icon{
    font-size: 40px;
    display: none;
}

.logo-wrapper{
    align-items: center;
    display: flex;
}

.nav-logo-wrapper{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.nav-link{
    font-size: 18px;
}

.nav-logo{
    height: 40px;
    width: 40px;
    border:none !important;
}

.nav-wrapper{
    display: flex;
    flex-direction: row;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: auto;
}

.nav-item{
    display: flex;
    width: 150px;
    height: 100%;
}

.nav-title{
    display: flex;
    margin: 0px 0px 0px 15px;
    width:120px;
    height: 40px;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
    
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

