@media (max-width:469px){
    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-width: 330px;
    }

    aside{
        width: 100%;
        height: fit-content;
        border-right: 1px solid #607D90;
        margin-right: 36px;
        margin: 0px auto 30px auto;
        box-sizing: border-box;
        border:1px solid #607D90;
    }

    .team-comp-wrapper{
        background-color: #283351;
        width: 100%;
        border-collapse: collapse;
        border:1px solid #607D90;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .team-member-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        margin: 0px 4px;
    }

    div.item-details > img:first-child{
        height: 30px;
        width: 30px;
        border: 1px solid #1b2d33;
        margin: 0px 10px 0px 10px;
    }

    .team-members{
        display: flex;
        align-items: center;
        width: 200px;
        flex-wrap: wrap;
        margin: 0px 0px 10px 25px;

    }

    .description{
        height: fit-content;
        flex-direction: row-reverse;
        justify-content: center;
        border-collapse: collapse;
        border-top:1px solid #607D90;
    }

    .closed{
        display: none;
    }

    .open{
        display: flex;
    }

    .basic-info{
        display: flex;
        flex-direction: column;
        height: fit-content;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 30px;
        font-size: 15px;
        width: 150px;
        word-wrap: break-word;
    }

    .grade{
        background-color: #4caf50;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color:black;
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;
    }

    .chevron{
        height: 20px;
        align-self: center;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0px,-50%);
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .item-details{
        display: flex;
        align-items:center;
        height: 40px;
        width: 200px;
        margin: 0px auto;
    }

    .item{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #1b2d33;
    }

    .item-list{
        width: fit-content;
        margin-bottom: 10px;
    }

    .item-title{
        text-align: center;
        margin-bottom: 5px;
    }

    .item-title > h2{
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }

    .trait-list{
        display: flex;
        height: fit-content;
        width: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .trait-title{
        text-align: center;
        margin-bottom: 5px;
    }

    .trait-title > h2{
        margin: 0px;
        font-size: 16px;
    }

    .trait-details{
        margin:0px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 25px;
        width: 40px;
        border-radius: 5px;

    }

    .traits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 250px;
    }

    .items{
        margin-right: auto;
        margin-left: auto;
    }

    .filter-img{
        height: 40px;
        width: 40px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        transition: .2s;
        opacity: 55%;
        cursor: pointer;
    }

    .active-filter-img{
        opacity: 100% !important;
        border: 2.5px solid #d47559 !important;
    }

    .filter-img:hover{
        border: 1px solid #d47559;
        opacity: 100%;
    }

    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
        
    }

    .search-bar{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #181f31;
        outline: none;
        padding: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .search-bar-wrapper{
        border-top:1px solid #607D90;
        border-bottom: 1px solid #607D90;
        border-left: none;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;
        margin-bottom: 10px;
        padding:3px 0px 3px 3px;
        transition: .3s;
    }

    .filter-tabs{
        display: flex;
        height: 35px;
    }

    .filter-tabs > div:first-child{
        border-right: 1px solid #607D90;
    }

    .tab{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        opacity: 60%;
        cursor: pointer;
        transition: .3s;
    }

    .active-tab{
        opacity: 100%;
    }

    .focused{
        border:1px solid #d47559;
    }

    .filter-img-list{
        padding: 5px 10px 10px 10px;
    }

    .trait-gold{
    background-color: #a27208;
    }

    .trait-silver{
        background-color: #6b6b6b;
    }

    .trait-bronze{
        background-color : #6f4939;
    }

    p{
        margin: 0px;
    }

    .trait-assist-list{
        display: none;
    }

    .trait-assist{
        
    }

}

@media (min-width:470px) and (max-width: 559px){
    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        width: 100%;
        height: fit-content;
        border-right: 1px solid #607D90;
        margin-right: 36px;
        margin: 0px auto 30px auto;
        box-sizing: border-box;
        border:1px solid #607D90;
    }

    .team-comp-wrapper{
        background-color: #283351;
        width: 100%;
        border-collapse: collapse;
        border:1px solid #607D90;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .team-member-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        margin: 0px 4px;
    }

    div.item-details > img:first-child{
        height: 30px;
        width: 30px;
        border: 1px solid #1b2d33;
        margin: 0px 10px 0px 10px;
    }

    .team-members{
        display: flex;
        align-items: center;
        width: 200px;
        flex-wrap: wrap;
        margin: 0px 0px 10px 0px;

    }

    .description{
        height: fit-content;
        flex-direction: row-reverse;
        justify-content: center;
        border-collapse: collapse;
        border-top:1px solid #607D90;
    }

    .closed{
        display: none;
    }

    .open{
        display: flex;
    }

    .basic-info{
        display: flex;
        flex-direction: row;
        height: fit-content;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 10px;
        font-size: 15px;
        width: 150px;
        word-wrap: break-word;
    }

    .grade{
        background-color: #4caf50;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color:black;
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;
    }

    .chevron{
        height: 20px;
        align-self: center;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0px,-50%);
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .item-details{
        display: flex;
        align-items:center;
        height: 40px;
        width: 200px;
        margin: 0px auto;
    }

    .item{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #1b2d33;
    }

    .item-list{
        width: fit-content;
        margin-bottom: 10px;
    }

    .item-title{
        text-align: center;
        margin-bottom: 5px;
    }

    .item-title > h2{
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }

    .trait-list{
        display: flex;
        height: fit-content;
        width: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .trait-title{
        text-align: center;
        margin-bottom: 5px;
    }

    .trait-title > h2{
        margin: 0px;
        font-size: 16px;
    }

    .trait-details{
        margin:0px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 25px;
        width: 40px;
        border-radius: 5px;

    }

    .traits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 250px;
    }

    .items{
        margin-right: auto;
        margin-left: auto;
    }

    .filter-img{
        height: 40px;
        width: 40px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        transition: .2s;
        opacity: 55%;
        cursor: pointer;
    }

    .active-filter-img{
        opacity: 100% !important;
        border: 2.5px solid #d47559 !important;
    }

    .filter-img:hover{
        border: 1px solid #d47559;
        opacity: 100%;
    }

    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
        
    }

    .search-bar{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #181f31;
        outline: none;
        padding: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .search-bar-wrapper{
        border-top:1px solid #607D90;
        border-bottom: 1px solid #607D90;
        border-left: none;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;
        margin-bottom: 10px;
        padding:3px 0px 3px 3px;
        transition: .3s;
    }

    .filter-tabs{
        display: flex;
        height: 35px;
    }

    .filter-tabs > div:first-child{
        border-right: 1px solid #607D90;
    }

    .tab{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        opacity: 60%;
        cursor: pointer;
        transition: .3s;
    }

    .active-tab{
        opacity: 100%;
    }

    .focused{
        border:1px solid #d47559;
    }

    .filter-img-list{
        padding: 5px 10px 10px 10px;
    }

    .trait-gold{
    background-color: #a27208;
    }

    .trait-silver{
        background-color: #6b6b6b;
    }

    .trait-bronze{
        background-color : #6f4939;
    }

    p{
        margin: 0px;
    }

    .trait-assist-list{
        display: none;
    }

    .trait-assist{
        
    }

}

@media (min-width: 560px) and (max-width:729px){
    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        width: 100%;
        height: fit-content;
        border-right: 1px solid #607D90;
        margin-right: 36px;
        margin: 0px auto 30px auto;
        box-sizing: border-box;
        border:1px solid #607D90;
    }


    .team-comp-wrapper{
        background-color: #283351;
        width: 100%;
        border-collapse: collapse;
        border:1px solid #607D90;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .team-member-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        margin: 0px 4px;
    }

    div.item-details > img:first-child{
        height: 30px;
        width: 30px;
        border: 1px solid #1b2d33;
        margin: 0px 10px 0px 10px;
    }

    .team-members{
        display: flex;
        align-items: center;
        width: 400px;

        margin: 0px 0px 10px 25px;

    }

    .description{

        flex-direction: row-reverse;
        justify-content: center;
        border-collapse: collapse;
        border-top:1px solid #607D90;
    }

    .closed{
        display: none;
    }

    .open{
        display: flex;
    }

    .basic-info{
        display: flex;
        flex-direction: row;
        height: fit-content;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 30px;
        font-size: 15px;
        width: 200px;
        word-wrap: break-word;
    }

    .grade{
        background-color: #4caf50;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color:black;
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;
    }

    .chevron{
        height: 20px;
        align-self: center;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0px,-50%);
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .item-details{
        display: flex;
        align-items:center;
        height: 40px;
        width: 200px;
        margin: 0px auto;
    }

    .item{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #1b2d33;
    }

    .item-list{
        width: fit-content;
        margin-bottom: 10px;
    }

    .item-title{
        text-align: center;
        
    }

    .item-title > h2{
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }

    .trait-list{
        display: flex;
        height: 50px;
        width: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .trait-title{
        text-align: center;
    }

    .trait-title > h2{
        margin: 0px;
        font-size: 16px;
    }

    .trait-details{
        margin:0px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 25px;
        width: 40px;
        border-radius: 5px;

    }

    .traits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 250px;
    }

    .items{
        margin-right: auto;
        margin-left: auto;
    }

    .filter-img{
        height: 40px;
        width: 40px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        transition: .2s;
        opacity: 55%;
        cursor: pointer;
    }

    .active-filter-img{
        opacity: 100% !important;
        border: 2.5px solid #d47559 !important;
    }

    .filter-img:hover{
        border: 1px solid #d47559;
        opacity: 100%;
    }

    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
        
    }

    .search-bar{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #181f31;
        outline: none;
        padding: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .search-bar-wrapper{
        border-top:1px solid #607D90;
        border-bottom: 1px solid #607D90;
        border-left: none;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;
        margin-bottom: 10px;
        padding:3px 0px 3px 3px;
        transition: .3s;
    }

    .filter-tabs{
        display: flex;
        height: 35px;
    }

    .filter-tabs > div:first-child{
        border-right: 1px solid #607D90;
    }

    .tab{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        opacity: 60%;
        cursor: pointer;
        transition: .3s;
    }

    .active-tab{
        opacity: 100%;
    }

    .focused{
        border:1px solid #d47559;
    }

    .filter-img-list{
        padding: 5px 10px 10px 10px;
    }

    .trait-gold{
    background-color: #a27208;
    }

    .trait-silver{
        background-color: #6b6b6b;
    }

    .trait-bronze{
        background-color : #6f4939;
    }

    p{
        margin: 0px;
    }

    .trait-assist-list{
        display: none;
    }

    .trait-assist{
        
    }
}

@media (min-width: 730px) and (max-width: 1167px){
    main{
        display: flex;
        flex-direction: column;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        width: 700px;
        height: fit-content;
        border-right: 1px solid #607D90;
        margin-right: 36px;
        margin: 0px auto 30px auto;
        box-sizing: border-box;
        border:1px solid #607D90;
    }

    .team-comp-list{
        margin-left: auto;
        margin-right: auto;
    }

    .team-comp-wrapper{
        background-color: #283351;
        width: 700px;
        border-collapse: collapse;
        border:1px solid #607D90;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .team-member-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        margin: 0px 4px;
    }

    div.item-details > img:first-child{
        height: 30px;
        width: 30px;
        border: 1px solid #1b2d33;
        margin: 0px 10px 0px 10px;
    }

    .team-members{
        display: flex;
        align-items: center;
        width: 400px;
    
        margin-right: 15px;

    }

    .description{

        flex-direction: row-reverse;
        justify-content: center;
        border-collapse: collapse;
        border-top:1px solid #607D90;
    }

    .closed{
        display: none;
    }

    .open{
        display: flex;
    }

    .basic-info{
        display: flex;
        height: 75px;
        position: relative;
        width: 700px;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        align-items: center;
        margin-left:20px;
        font-size: 15px;
        width: 200px;
        word-wrap: break-word;
    }

    .grade{
        background-color: #4caf50;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color:black;
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;
    }

    .chevron{
        height: 20px;
        align-self: center;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0px,-50%);
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .item-details{
        display: flex;
        align-items:center;
        height: 40px;
        width: 200px;
        margin: 0px auto;
    }

    .item{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #1b2d33;
    }

    .item-list{
        width: 350px;
        margin-bottom: 10px;
    }

    .item-title{
        text-align: center;
        
    }

    .item-title > h2{
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }

    .trait-list{
        display: flex;
        height: 50px;
        width: 350px;
        align-items: center;
        justify-content: center;
    }

    .trait-title{
        text-align: center;
    }

    .trait-title > h2{
        margin: 0px;
        font-size: 16px;
    }

    .trait-details{
        margin:0px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 25px;
        width: 40px;
        border-radius: 5px;
    }

    .traits{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .filter-img{
        height: 40px;
        width: 40px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        transition: .2s;
        opacity: 55%;
        cursor: pointer;
    }

    .active-filter-img{
        opacity: 100% !important;
        border: 2.5px solid #d47559 !important;
    }

    .filter-img:hover{
        border: 1px solid #d47559;
        opacity: 100%;
    }

    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
        
    }

    .search-bar{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #181f31;
        outline: none;
        padding: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .search-bar-wrapper{
        border-top:1px solid #607D90;
        border-bottom: 1px solid #607D90;
        border-left: none;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;
        margin-bottom: 10px;
        padding:3px 0px 3px 3px;
        transition: .3s;
    }

    .filter-tabs{
        display: flex;
        height: 35px;
    }

    .filter-tabs > div:first-child{
        border-right: 1px solid #607D90;
    }

    .tab{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        opacity: 60%;
        cursor: pointer;
        transition: .3s;
    }

    .active-tab{
        opacity: 100%;
    }

    .focused{
        border:1px solid #d47559;
    }

    .filter-img-list{
        padding: 5px 10px 10px 10px;
    }

    .trait-gold{
    background-color: #a27208;
    }

    .trait-silver{
        background-color: #6b6b6b;
    }

    .trait-bronze{
        background-color : #6f4939;
    }

    p{
        margin: 0px;
    }

    .trait-assist-list{
        display: none;
    }

    .trait-assist{
        
    }
}
@media (min-width:1168px){
    main{
        display: flex;
        flex-direction: row;
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    aside{
        width: 400px;
        height: fit-content;
        border-right: 1px solid #607D90;
        margin-right: 36px;
        box-sizing: border-box;
        border:1px solid #607D90;
    }

    .team-comp-wrapper{
        background-color: #283351;
        width: 700px;
        border-collapse: collapse;
        border:1px solid #607D90;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .team-member-img{
        height: 40px;
        width: 40px;
        border: 1px solid #1b2d33;
        margin: 0px 4px;
    }

    div.item-details > img:first-child{
        height: 30px;
        width: 30px;
        border: 1px solid #1b2d33;
        margin: 0px 10px 0px 10px;
    }

    .team-members{
        display: flex;
        align-items: center;
        width: 400px;
        margin-right: 15px;

    }

    .description{

        flex-direction: row-reverse;
        justify-content: center;
        border-collapse: collapse;
        border-top:1px solid #607D90;
    }

    .closed{
        display: none;
    }

    .open{
        display: flex;
    }

    .basic-info{
        display: flex;
        height: 75px;
        position: relative;
        width: 700px;
        box-sizing: border-box;
    }

    .title{
        display: flex;
        align-items: center;
        margin-left:20px;
        font-size: 15px;
        width: 200px;
        word-wrap: break-word;
    }

    .grade{
        background-color: #4caf50;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color:black;
        font-weight: 700;
        font-size: 20px;
        margin-right: 20px;
    }

    .chevron{
        height: 20px;
        align-self: center;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0px,-50%);
    }

    .trait-img{
        height: 20px;
        width: 20px;
    }

    .item-details{
        display: flex;
        align-items:center;
        height: 40px;
        width: 200px;
        margin: 0px auto;
    }

    .item{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid #1b2d33;
    }

    .item-list{
        width: 350px;
        margin-bottom: 10px;
    }

    .item-title{
        text-align: center;
        
    }

    .item-title > h2{
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }

    .trait-list{
        display: flex;
        height: 50px;
        width: 350px;
        align-items: center;
        justify-content: center;
    }

    .trait-title{
        text-align: center;
    }

    .trait-title > h2{
        margin: 0px;
        font-size: 16px;
    }

    .trait-details{
        margin:0px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 25px;
        width: 40px;
        border-radius: 5px;
    }

    .traits{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .filter-img{
        height: 40px;
        width: 40px;
        margin: 5px 10px 5px 10px;
        border: 1px solid #1b2d33;
        box-sizing: border-box;
        transition: .2s;
        opacity: 55%;
        cursor: pointer;
    }

    .active-filter-img{
        opacity: 100% !important;
        border: 2.5px solid #d47559 !important;
    }

    .filter-img:hover{
        border: 1px solid #d47559;
        opacity: 100%;
    }

    .search-bar-icon{
        height: 20px;
        width: 20px;
        padding: 0px 5px 0px 5px;
        
        
    }

    .search-bar{
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #181f31;
        outline: none;
        padding: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .search-bar-wrapper{
        border-top:1px solid #607D90;
        border-bottom: 1px solid #607D90;
        border-left: none;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: static;
        margin-bottom: 10px;
        padding:3px 0px 3px 3px;
        transition: .3s;
    }

    .filter-tabs{
        display: flex;
        height: 35px;
    }

    .filter-tabs > div:first-child{
        border-right: 1px solid #607D90;
    }

    .tab{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        opacity: 60%;
        cursor: pointer;
        transition: .3s;
    }

    .active-tab{
        opacity: 100%;
    }

    .focused{
        border:1px solid #d47559;
    }

    .filter-img-list{
        padding: 5px 10px 10px 10px;
    }

    .trait-gold{
    background-color: #a27208;
    }

    .trait-silver{
        background-color: #6b6b6b;
    }

    .trait-bronze{
        background-color : #6f4939;
    }

    p{
        margin: 0px;
    }

    .trait-assist-list{
        display: none;
    }

    .trait-assist{
        
    }

}